.header {
  background-color: var(--color-main);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 25rem;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
}

.headerList {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 2rem 0 3rem;
}

.headerListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
}

.headerListItem.active,
.headerListItem:hover {
  background-color: #214a8d;
}

.headerListItem.active {
  border-color: white;
}

.headerListItem span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.6rem;
}

.headerListItemIcon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.headerTitle {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.headerDesc {
  font-size: 1.8rem;
  /* font-weight: 300; */
}

.headerSearch {
  width: 100%;
  max-width: 1024px;
  height: 6rem;
  border: 3px solid var(--color-orange);
  border-radius: var(--border-radius-sm);
  background-color: white;
  position: absolute;
  bottom: -3rem;
  display: flex;
  gap: 0.5rem;
}

.headerSearchItem {
  position: relative;
  flex: 1;
  height: 100%;
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.headerSearchItem:first-child {
  flex: 1.3;
}

.headerSearchItem:last-child {
  padding: 0;
  flex: 0.5;
}

.headerSearchIcon {
  color: var(--color-gray-1);
  font-size: 1.8rem;
  margin-left: 1rem;
  position: absolute;
}

.headerSearchItem input {
  flex: 1;
  padding-left: 4rem;
  height: 3rem;
  outline: none;
  border: none;
}

.headerSearchItem > span {
  padding-left: 4rem;
  color: var(--color-gray-2);
  font-weight: 600;
  cursor: pointer;
}

.headerSearchItem input::placeholder {
  font-weight: 600;
  color: var(--color-gray-2);
  font-weight: 600;
}

.headerSearchItem input:focus::-webkit-input-placeholder {
  color: var(--color-gray-1);
}

.headerSearchButton {
  background-color: var(--color-blue-2);
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}

.date,
.options {
  /* background-color: lightgrey !important; */
  position: absolute;
  top: 6rem;
  box-shadow: var(--box-shadow-light);
  z-index: 2;
}

/* ////////////////////////////////////////// */

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.optionItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionTxt {
  color: gray;
  font-weight: 500;
}

.optionCounter {
  border: 1px solid lightgray;
  border-radius: var(--border-radius-sm);
  width: 50%;
  /* padding: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionBtn {
  background-color: transparent;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-blue-2);
}

.optionBtnDisable {
  cursor: not-allowed;
  color: gray;
}
